header{
    margin-top: 50px;
}

header, .lista{
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mi-foto , .logo, .vp-img{
    height: 220px;
    width: 220px;
}

#tec-desarrollo{
    display: grid;
}

.proyecto{
    width: 50%;
    margin-left: 24%;
}

.subtitulo, footer{
    margin-top: 50px;
}

footer{
    margin-bottom: 0;
}

#parrafo-final{
    font-size: small;
}

/*---*/