header{
    margin-top: 50px;
}

header, .lista{
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mi-foto , .vp-img{
    height: 220px;
    width: 220px;
}

.logos {
  display: grid;
  list-style: none;
  gap: 1rem;
  justify-items: center;
}

.logo {
  width: 130px;
  height: 130px;
}

.proyecto{
    width: 50%;
    margin-left: 24%;
}

.subtitulo, footer{
    margin-top: 50px;
}

footer{
    margin-bottom: 0;
}

#parrafo-final{
    font-size: small;
}

svg{
    width: 30px;
    height: 30px;
}

.bi-facebook{
    background-color: white;
    border-radius: 15px;
    fill: blue;
}

.contacto-item{
    margin-top: 10px;
}

@media (min-width: 600px) {
  .logos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .logos {
    grid-template-columns: repeat(3, 1fr);
  }
}